.App {
  text-align: center;
  height: 100vh;
}

.home {
  height: 100vh;
  text-align: center;
  background-image: url('https://th.bing.com/th/id/R.5f0f25db7062151c57c1d514213bcc14?rik=Zh7jAHDGmEGZow&riu=http%3a%2f%2fwallpapercave.com%2fwp%2fwp1873140.jpg&ehk=9Knzy9w4URSvrf6bow%2bRLSUOCZd0vdV3swUL2N74sIo%3d&risl=&pid=ImgRaw&r=0');
}
.nav {
  display: grid;
  grid-template-columns: 85px 85px 1fr 250px;
  height: 50px;
  align-items: center;
  background-color: orange;
  border: 3px rgb(140, 91, 0) solid;
}
.first {
  margin: 0;
}

.link {
  font-size: 20px;
  text-decoration: none;
  padding: 13px 10px;
  margin-left: 0px;
  margin-right: 0px;
  text-align: center;
}
.link:hover {
  background-color: rgb(255, 215, 82);
  /* height: 50px; */
}
.link:active {
  color: rgb(197, 0, 197)
}
.about {
  background-color: #ffbe4d;
  height: 100vh;
  display: grid;
  padding-top: 50px;
  padding: 50px 0px;
  overflow: scroll;
}

.exercise {
  height: 10vh;
}

.exerciseModal {
  background-color: rgb(210, 138, 23);
  width: 80vw;
  height: 50vw;
  z-index: 999;
  position: absolute;
  left: 10vw;
  border: 5px rgba(0, 0, 0, 0.388) solid;
  box-shadow: 7px 7px 2px 0.5px;
}

.hideElement {
  display: none;
}

.picture {
  height: 40vh;
  border-radius: 60%;
  border: 5px solid;
}

.aboutImg {
  width: 200px;
  height: 200px;
  border: 3px solid rgb(107, 96, 0);
  border-radius: 5%;
  box-shadow: 3px 3px 5px .2px rgb(107, 107, 107);
}
.aboutImg:hover {
  scale: 1.05;
  cursor: pointer;
}

.exerciseList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 50px;
  width: 80vw;
  margin: 0 auto
}
.closeExerciseModal, .closeEditModal {
  color: rgb(255, 255, 255);
  cursor: pointer;
  position: relative;
  margin-right: 10px;
  height: 25px;
  width: 25px;
}

.exerciseRecs {
  margin: 50px 0 0 0;
  text-align: center;
}
.buttons {
  width: 100px;
  height: 35px;
  display:inline;
  margin: 30 0 0 0;
}

.editModal {
  background-color: rgba(0, 202, 84, 0.95);
  width: 80vw;
  height: 50vw;
  z-index: 999;
  position: absolute;
  left: 10vw;
  border: 5px rgba(0, 0, 0, 0.388) solid;
  box-shadow: 7px 7px 2px 0.5px;
}
.title {
  text-align: center;
  font-size: 30px;
  margin: 0 auto;
  color: #694200;
  font-weight: 700;
}

.modalTitle {
  text-align: center;
  font-size: 25px;
  margin: 0 auto;
  color: #533500;
  font-weight: 700;
}
.aboutInfo {
  margin-top: 0;
  padding-top: 10px;
  font-size: 20px;
  font-weight: 700;
}

.imgContainer {
  margin: auto auto;
  width: 200px;
}
.closeBtnContainer {
  display: grid;
  grid-template-columns: 1fr 30px;
}

.exerciseVid {
  width: 720px;
  height: 500px;
}

.videoContainer {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
@media screen and (max-width: 1200px) {
  .exerciseVid {
    width: 420px;
    height: 300px;
  }
}

@media screen and (max-width: 800px) {
  .exerciseVid {
    width: 300px;
    height: 200px;
  }
}

.addExercisePage {
  min-height: 100vh;
  background-image: linear-gradient(yellow, rgb(255, 208, 0), rgb(255, 102, 0));
}

.createTitle {
  margin: 0 auto;
  text-align: center;
}

.form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.input {}

.exerciseTable, th, td {
  border: 2px solid rgb(84, 63, 0);
  text-align: center;
  border-collapse: collapse;
  margin: 0 auto;
  background-color: rgb(247, 255, 216);
}
.exerciseTable {
  
}

.keys {
  text-align: center;
}

.values {
  text-align: center;
  padding: 10px 100px;
  min-width: 100px;
  height: 30px;
}

.exerciseRecList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 30px;
}