.App {
  text-align: center;
  height: 100vh;
}

.home {
  height: 100vh;
  text-align: center;
  background-image: url('https://th.bing.com/th/id/R.5f0f25db7062151c57c1d514213bcc14?rik=Zh7jAHDGmEGZow&riu=http%3a%2f%2fwallpapercave.com%2fwp%2fwp1873140.jpg&ehk=9Knzy9w4URSvrf6bow%2bRLSUOCZd0vdV3swUL2N74sIo%3d&risl=&pid=ImgRaw&r=0');
}
.nav {
  display: flex;
  justify-content: flex-end;
  column-gap: 20px;
  height: 50px;
  align-items: center;
  padding-right: 25px;
  background-color: orange;
  border: 3px rgb(140, 91, 0) solid;
}

.link {
  font-size: 25px;
  text-decoration: none;
}

.about {
  background-color: #ffbe4d;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-top: 50px;
  padding: 50px 0 20px 20px;
}

.exercise {
  height: 10vh;
}

.exerciseModal {
  background-color: rgb(210, 138, 23);
  width: 80vw;
  height: 60vw;
  z-index: 999;
  position: absolute;
  left: 10vw;
  top: 20vh;
  border: 5px rgba(0, 0, 0, 0.388) solid;
  box-shadow: 7px 7px 2px 0.5px;
}

.picture {
  height: 40vh;
  border-radius: 60%;
  border: 5px solid;
}